.navbar {
    height: 75px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* padding: 0px 30px; */
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 10000000000;
}

.links {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 30px;
}

.link {
    padding: 10px 10px;
    margin: 0px 10px;
    border-radius: 5px;
    text-decoration: none;
    animation: bring-to-life 5s infinite;
    box-shadow: 0px 0px 5px 1px rgba(0, 0, 0, 0.3);
    font-weight: 700;
    color: unset;
}

.link:hover {
    background-color: rgba(36, 36, 73, 0.5) !important;
    color: white !important;
}

.brand {
    font-size: 30px;
}