<div class="main">
    <app-navbar brand="" brandImage="" brandColor="#242449" backgroundColor="#00000012" textColor="#242449" [links]="this.links" [linksHref]="this.linksHref" linkColor="#242449" linkBGColor="#24244912" linkActiveColor="#ffffff"></app-navbar>
    <div class="page" id="home">
        <div class="home-page">
            <div class="left-home">
                <div class="vertical">
                    <span class="home-title">Saket Verma</span>
                </div>
                <div class="stack">
                    <span class="home-subtitle">Developer</span>
                    <span class="home-subtitle">Designer</span>
                    <span class="home-subtitle">Gamer</span>
                    <span class="home-subtitle">Thinker</span>
                    <span class="home-subtitle">Dinosaur Hunter</span>
                </div>
            </div>
            <div class="right-home">
                <img class="home-image" src="assets/main.gif" alt="working-man" />
            </div>
        </div>
        <div class="triangle"></div>
    </div>
    <div class="page" id="about">
        <div class="triangle-top-left"></div>
        <div class="about-container">
            <div class="about-image-container">
                <img class="about-image" src="assets/hi.gif" alt="hi" />
            </div>
            <div class="about-text-container">
                <div class="vertical">
                    <span class="about-title">About Me</span>
                </div>
                <div class="about-stack">
                    <div class="about-subtitle">
                        <div class="line"><span class="heavy">H</span>ello, Saket here !</div>
                        <div class="line"><span class="heavy">I</span> am a web designer/developer focused on crafting great web experiences.</div>
                        <div class="line"><span class="heavy">D</span>esigning and Coding have been my passion since the days I started working with computers.</div>
                        <div class="line"><span class="heavy">I</span> enjoy creating beautifully designed, intuitive and functional websites, softwares, live wallpapers.</div>
                        <div class="line">
                            <span class="heavy">B</span>esides this, I also have passion for gaming and mobile photography.</div>
                    </div>
                </div>
            </div>
        </div>
        <div class="triangle-bottom-right"></div>
    </div>
    <div class="page" id="projects">
        <div class="triangle-top-right"></div>
        <div class="projects-container">
            <div class="left-home-website">
                <div class="vertical">
                    <span class="project-title">Projects</span>
                </div>
                <div class="stack-website">
                    <div class="project-subtitle" *ngFor="let project of this.websites">
                        <a target="website" href="{{project.url}}" class="project-subtitle" [ngClass]="project.isSelected ? 'active' : ''" (click)="onClickProject(project)">{{project.name}}</a>
                    </div>
                </div>
            </div>
            <div class="right-home">
                <iframe src="https://phoenixsaket.github.io/profile/" name="website" class="website"></iframe>
            </div>
        </div>
        <div class="triangle-project"></div>
    </div>
    <div class="page" id="experience">
        <app-experience [companies]="this.companies"></app-experience>
    </div>
    <div class="page" id="contact">

    </div>
    <div class="page">
        <!-- <div class="main-c">
            <div class="title">TITLE</div>
            <div class="inner-c">
                <div class="left-c">
                    <div class="top-text">TOP</div>
                    <div class="bottom-text">BOTTOM</div>
                    <div class="bottom-right">BOTTOM</div>
                </div>
                <div class="right-c">
                    <div class="top-text">TOP</div>
                    <div class="bottom-text">BOTTOM</div>
                    <div class="bottom-right">BOTTOM</div>
                </div>
            </div>
        </div> -->
    </div>
</div>